.color-red{
    color:red;
}
.color-darkred {
    color: darkred;
}
.color-blue {
    color: blue;
}
.color-green {
    color: green;
}
.color-yellow {
    color: yellow;
}
.color-purple {
    color: purple;
}
.color-deepskyblue {
    color: deepskyblue;
}
.color-dodgerblue {
    color: dodgerblue;
}
.color-lightskyblue {
    color: lightskyblue;
}
.color-cornflowerblue {
    color: cornflowerblue;
}
.color-cyan {
    color: cyan;
}
.color-black {
    color: black;
}
.color-white {
    color: white;
}
.color-orange {
    color: orange;
}
.color-lime {
    color: lime;
}
.color-goldenrod {
    color: goldenrod;
}
.color-mediumseagreen {
    color: mediumseagreen;
}
.color-silver {
    color: silver;
}
.color-sandybrown {
    color: sandybrown;
}
.color-pink {
    color: pink;
}
.color-gray {
    color: gray;
}
.color-peachpuff {
    color: peachpuff;
}
.color-darkgrey {
    color: darkgrey;
}
.color-lightgray {
    color: lightgray;
}


.background-lightgray{
    background-color: lightgray;
}
.background-darkgray {
    background-color: darkgray;
}
.background-whitesmoke {
    background-color: whitesmoke;
}


.hover-red:hover{
    color:red;
}
.hover-darkred:hover {
    color: darkred;
}

.hover-blue:hover {
    color: blue;
}

.hover-green:hover {
    color: green;
}

.hover-yellow:hover {
    color: yellow;
}

.hover-purple:hover {
    color: purple;
}

.hover-cyan:hover {
    color: cyan;
}

.color-black {
    color: black;
}

.hover-white:hover {
    color: white;
}

.hover-orange:hover {
    color: orange;
}

.hover-darkorange:hover{
    color:darkorange;
}

.hover-lime:hover {
    color: lime;
}

.hover-pink:hover {
    color: pink;
}

.hover-gray:hover {
    color: gray;
}

.hover-peachpuff:hover {
    color: peachpuff;
}

.hover-darkgray:hover {
    color: darkgray;
}

.hover-lightgray:hover {
    color: lightgray;
}
