@import "colors.css";
@import "buttons.css";

html{
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dec-none {
    text-decoration: none;
    list-style: none;
}

.card {
    margin: 0 3px;
}

.login-partial-img {
    max-width: 5vw;
    max-height:5vh;
}

.image-box {
    display: inline-block;
    text-align: center;
}

.verified-icons {
    max-height: 23px;
    width: auto;
    margin: 0 5px;
}