@using Duplex.Core.Models
@model IEnumerable<RegionModel>

@{
    ViewBag.Title = "List of Regions";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center container d-flex justify-content-center">
    <ul class="list-group list">
        @foreach (var reg in Model)
        {
            <li class="list-group-item">
                <h5 class="text-start text-wrap p-2 float-start"><span>@reg.Name</span></h5>
                <span class="float-end buttons">
                    <a asp-controller="Region" asp-action="Edit" asp-route-id="@reg.Id" class="btn btn-warning">Edit</a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteRegionModal@(reg.Id)" class="btn btn-danger">Delete</button>
                </span>
                <partial name="_DeleteRegionModalPartial" model="@reg" />
            </li>
        }
    </ul>
</div>