@{
    ViewBag.Title = "Admin Panel";
}

<div class="container d-flex">
    <div class="card" style="width: 18rem;">
        <img src="/static/admin/pics/region.png" class="card-img-top panel-cards" alt="Region Image">
        <div class="card-body">
            <h5 class="card-title">Regions</h5>
            <p class="card-text">Options that allow you to Make changes, Delete, Add new regions, etc.</p>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-action="Add" asp-controller="Region">Add Region</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Region">List of regions</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/admin/pics/categories.png" class="card-img-top panel-cards" alt="Category Image">
        <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <p class="card-text">Options that allow you to Make changes, Delete, Add new categories, etc.</p>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-action="Add" asp-controller="Category">Add Category</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Category">List of categories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/admin/pics/prize.png" class="card-img-top panel-cards" alt="Prize Image">
        <div class="card-body">
            <h5 class="card-title">Prizes</h5>
            <p class="card-text">Options that allow you to View, Modify existing and Add new Prize, etc.</p>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-action="Add" asp-controller="Prize">Add Prize</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Prize">List of Prizes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/admin/pics/event.png" class="card-img-top panel-cards" alt="Event Image">
        <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">Options that allow you to View, Modify existing and Add new Events, etc.</p>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-action="Add" asp-controller="Event">Add Events</a></li>
                    <li><a class="dropdown-item" asp-area=""  asp-action="All" asp-controller="Event">List of Events</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/admin/pics/settings.png" class="card-img-top panel-cards" alt="Permissions Image">
        <div class="card-body">
            <h5 class="card-title">Advanced</h5>
            <p class="card-text">Advanced settings for user management and permissions.</p>
            <div class="btn-group dropend">
                <a class="btn btn-primary" asp-controller="Management" asp-action="Index" asp-area="Administration">
                    Settings
                </a>
            </div>
        </div>
    </div>
</div>